h1 {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}

p {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.35);
}

/* img {
  height: 119px;
  width: 636px;
} */

div {
  /* margin-top: calc(50% - 400px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  
  display: flex; /* добавил из видео */
  flex-direction: column; /* добавил из видео */

}

.content {
  flex-grow: 1;
}

.footer {
  background: #D9D9D9;
  height: 88px;
}

.footer p {

  /* 8-800-23-11-777(с 08:00 до 22:00) */
  
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
    
  /* identical to box height */
  /* text-decoration-line: underline; */
  
  color: #929292;
}





