p {}

a {
  text-decoration: none;
}


h1 {
  text-align: center;
  Font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  /* identical to box height */

  text-align: center;
  color: #000000;
}

h2 {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
  text-align: center;

  color: #000000;
}

.title-screen {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 1065px;
  height: 672px;
  left: calc(50% - 1065px/2);
  /* top: 50px; */
  top: calc(50% - 672px/2);
  /*сделал по центу экрана */
}


.frame {
  background: #FFFFFF;
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.flex-container {
  display: flex;
}


img.logo {
  position: relative;
  left: calc(50% - 636px/2);
}

.red-plate {
  width: 900px;
  height: 176px;
  background: #FF3333;
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  left: calc(50% - 900px/2);
}

.red-plate div {
  margin: 0;
  padding: 0;
  border: 0;
  width: 300px;
  height: 176px;
}

/* ----- размеры кнопок ------ */
.button.medium-size {
  width: 153px;
  height: 48px;
}

.undo-button {
  position: relative;
  width: 120;
  height: 40;
}

/* Основной стиль кнопки  */

.button {
  /* background: #FF3333; */
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  transition: background-color 0.3s, box-shadow 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  /* background: #FF5252; */
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.3);

  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  /* color: #FFFFFF; */

}

.button:active {
  /* background: #EE2E2E; */
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
}


.stat {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 63px;
  text-align: center;
  margin: 30px 0 0 0;
  color: #FFFFFF;
}

.stat-text {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}

.logo-container {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

svg.logo {
  transition: filter 1s;
  filter: drop-shadow(2px 3px 5px rgb(0 0 0 / 0.0));
  margin: 0px;
  padding: 0px;
}

svg.logo:hover {
  transition: filter 1s;
  filter: drop-shadow(2px 3px 5px rgb(0 0 0 / 0.8));
}

.button-text {
  text-align: center;
  display: block;
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  cursor: pointer;
  user-select: none;
}

.button-container {
  margin-top: 100px;
  width: 900px;
  justify-content: space-around;
  position: relative;
  left: calc(50% - 900px/2);
}


.flex-vertical {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.small-button {
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s, box-shadow 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.small-button:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

.small-button:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.small-button-text {
  text-align: center;
  display: block;
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height */
  text-align: center;
  align-self: center;
  cursor: pointer;
  user-select: none;
}

.button.white .small-button-text {
  color: #000000;
}

.button.red .small-button-text {
  color: #FFFFFF;
}

.button.red {
  background: #FF3333;
}

.button.red:hover {
  background: #FF5252;
}

.button.red:active {
  background: #EE2E2E;
}

.button.white {
  background: #FFFFFF;
}

.button.white:hover {
  background: #E2E2E2;
}

.button.white:active {

  background: #E2E2E2;
}

.white .button-text {
  color: black;
}

/* ----- эксперимент */
svg.countdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 40px;
  overflow: visible;
}

svg .fuse-line {

  stroke-dasharray: 285px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: red;
  fill: none;
  animation: countdown 5s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: -285px;
  }
}

.title {
  justify-self: start;
  font-family: Bahnschrift;
  font-size: 34px;
  font-weight: 600;
  /* line-height: 41px; */
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  flex-grow: 1;
  /* text-align: center; */
}

.cart-side-bar {
  flex-direction: column;
  align-items: start;
}

.frame-inset {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10) inset;
}

.frame-inset p {
  text-align: center;
  margin-top: 10px;
}

.user-info {
  width: 590px;
  margin: 50px;
}

.user-info p {
  color: #B4B4B4;
  font-size: 22px;
  font-family: Bahnschrift;
  height: 36px;
}

.footer {
  background: #D9D9D9;
  height: 88px;
}