:root {
    --card-hight: 250px;
    --img-container-size: calc(var(--card-hight));
    --debug-bg-color: #ffffff;
}

.product-card {
    /* border: solid blue; */
    margin: 5px 15px;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 620px;
    width: 900px;
    max-width: 1100px;
    /* gap: 10px; */
    height: var(--card-hight);
    margin: 5px;
    background: #ffffff;
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.img-container {
    text-overflow: initial;
    width: var(--img-container-size);
    height: var(--img-container-size);
    min-width: var(--img-container-size);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    max-width: 90%;
    max-height: 90%;
}

.info-container {
    height: 80%;
    width: 100%;
    min-width: 210px;

    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow: hidden;
    text-overflow: ellipsis;
    gap: 10px;
}

.product-brand {
    /* flex-grow: 1; */
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 94.69%;
    /* or 27px */
    letter-spacing: 0.03em;
    color: #000000;
}

.product-name {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 94.69%;
    /* or 17px */
    letter-spacing: 0.03em;
    color: #000000;
}

.product-description {
    flex-grow: 1;
    text-overflow: ellipsis;
    flex-shrink: 0;
    text-overflow: clip;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 94.69%;
    letter-spacing: 0.03em;
    color: #000000;
}

.buy-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.hide-when-empty {
    display: none;
    width: 40px;
}

.show-when-empty {
    width: 120px;
}

.cart-counter {
    text-align: center;
    margin: 0;
}

.remove-from-cart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    background-color: rgb(197, 55, 55);
}

.price,
.total-price {
    text-align: center;
    font-family: Roboto;
    margin: 0px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin: 5px;
}

.price-tag {
    margin: 0px 20px 0px 0px;
    min-width: 120px;
    width: 120px;
    text-align: center;
}

.cart-container {
    justify-content: center;
}

.cart-list-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: end;
}

.checkout-box {
    margin: 5px 15px;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.price-container {
    flex-direction: column;
    justify-content: center;
}

body {
    padding: 0;
    margin: 0;
}

.padding {
    height: 180px;
}

main {
    flex-grow: 1;
    min-height: 75vh;
}

.return {
    height: 40px;
    width: 120px;
    line-height: 40px;
}