:root {
    --header-height: 200px;
}

p {
    color: green;
}


p {
    color: black;
}

body {
    /* padding: 0; */
    margin: 0px;
}

.shop-main {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}


.title {
    flex-grow: 1;
    justify-self: center;
    /* padding-left: 50px; */
}